@if (show()) {
  <eci-card>
    <h2 class="cps__title">{{ 'completeProfile.noticeTitle' | translate }}</h2>
    <p class="cps__desc">{{ 'completeProfile.noticeDesc' | translate }}</p>

    @if (!expanded()) {
      <eci-button (click)="start()">{{ 'completeProfile.start' | translate }}</eci-button>
    } @else {
      <form [formGroup]="form" (ngSubmit)="submit()">
        <eci-dropout-ia-fields [group]="dropoutGroup" />
        <div class="cps__actions">
          <eci-button type="submit" [disabled]="saving()">
            {{ 'completeProfile.save' | translate }}
          </eci-button>
        </div>
      </form>
    }
  </eci-card>
}
